{% extends '../layouts/app.html' %}
{% block css %}
<link href="{{constants['STATICS_URL']}}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block js_top %}
<script type="text/javascript">
  var BASE_URL = '{{constants['BASE_URL']}}';
  var STATICS_URL  = '{{constants['STATICS_URL']}}';
  var DATA = JSON.parse('{% raw data %}');
</script>
{% end %}
{% block js_bottom %}
<script type="text/javascript" src="{{constants['STATICS_URL']}}bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{constants['STATICS_URL']}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
{% end %}
{% block content %}
<h1>home</h1>
{% end %}
